.gallery__section {
  position: relative !important;
  max-height: 100% !important;
  height: 100% !important;
  display: flex;
}

.gallery__img {
  position: relative !important;
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
}

.gallery__modal {
  max-width: 70vw !important;
  width: 100% !important;
  max-height: 80vh !important;
  height: 100% !important;
  aspect-ratio: 1.5/2;
}

.gallery__modal .gallery__img {
  position: relative !important;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain !important;
  object-position: center !important;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .gallery__modal {
    max-width: 100vw !important;
    width: 100% !important;
    max-height: 80vh !important;
    height: 100% !important;
    aspect-ratio: 2/1;
  }

  .gallery__img {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
    object-position: center !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
  }
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  .gallery__modal {
    max-width: 70vw !important;
    width: 100% !important;
    max-height: 90vh !important;
    height: 100% !important;
    aspect-ratio: 1/2;
  }

  .gallery__img {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
    object-position: center !important;
    max-width: 100vw !important;
  }
}
